[Unit]
Description=yarrp-listener

After=syslog.target network.target
Before=nginx.service
PartOf=nginx.service

[Service]
Type=forking
#PIDFile=
ExecStartPre=
ExecStart=/usr/local/bin/listener -d -i @INT@ -k @V4@ -l @V6@ -o /var/log/yarrp.log
ExecStop=/usr/bin/pkill listener

[Install]
WantedBy=multi-user.target

