[Unit]
Description=yarrp-sender

After=syslog.target network.target
Before=nginx.service
PartOf=nginx.service

[Service]
Type=forking
#PIDFile=
ExecStartPre=
ExecStart=/usr/local/bin/sender -d -i @INT@ -a @MY_MAC@ -b @GW_MAC_V4@ -c @GW_MAC_V6@ -4 @V4@ -6 @V6@ -f @RCV_DATA@
ExecStop=/usr/bin/pkill sender

[Install]
WantedBy=multi-user.target

