[Unit]
Description=yarrp-sender

After=syslog.target network.target
Before=nginx.service
PartOf=nginx.service

[Service]
Type=forking
#PIDFile=
ExecStartPre=
ExecStart=/usr/local/bin/sender -d -f /tmp/pinger/pinger_socket
ExecReload=/usr/local/bin/sender -d -f /tmp/pinger/pinger_socket
ExecStop=/usr/bin/pkill sender

[Install]
WantedBy=multi-user.target

